<form action="/login" method="post">
    
  <div class="mb-3">
    <label for="login" class="form-label">Login: </label>
    <input type="text" class="form-control" name="login" id="login" placeholder="Digite seu login">
   
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Senha: </label>
    <input type="text" class="form-control" name="password" id="password" placeholder="Digite sua senha">
  </div>
  
  <button type="submit" class="btn btn-success">Salvar</button>




</form>