
<form action="/buscarcep" class="row" method="post">

    <div class="mb-3 col-md-6">
    <label for="exampleFormControlInput1" class="form-label">CEP</label>
    <input type="text" class="form-control" name="cep" id="cep" placeholder="Digite seu CEP (Ex.: 69000000) ">
    <br>
    <button type="submit" class="btn btn-success">Pesquisar CEP</button>

</div>
</form>
        