<br>
<h1>Cadasto de Pessoas</h1>
<br>
{{> formcadastro}}


<br><br>

<div class=" col-md-12 text-center">

    <a href="/" type="button" class="btn btn-secondary">Página Inicial</a>
    
</div>
<br><br>