<h1>Olá</h1>

<ul>

  
    {{# each pessoas}}
    <li>
      {{this.nome}} - {{this.data_nascimento}} - {{this.email}}
    </li>
    {{/ each}}
  

</ul>

{{!-- <br><br>
<div class="d-grid gap-4 col-6 mx-auto">

  <a href="/cadastro" class="btn btn-info" type="button">Clique para cadastrar contato</a>
  <a href="/lista" class="btn btn-info" type="button">Clique para listar todos os contatos</a>
  <a href="/buscarcep" class="btn btn-info" type="button">Clique para pesquisar CEP</a>
  
</div> --}}