.btn {
    color : black;
    background-color: lightgreen;
    border-radius: 10px;
    border: 0;
    width: 250px;
    height: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.btnred {
    color : black;
    background-color: red;
    border-radius: 10px;
    border: 0;
    width: 250px;
    height: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.btn-hover {
    background-color: #3480e3;
    cursor: pointer;
}